#formulario {
    background: rgba(63, 64, 66, 0.7);
    transition: 0.5s;
    width: 50%;
}
#formulario h1{
    margin: 30px;
    padding: 0;
}

.fecha {
    color: aliceblue;
    font-size: 25px;
}

.imagen-elemento {
    width: 100px;
    height: 100px;
}

.logo {
    width: 900px;
    height: 900px;
}
  